.formlabel {
	display: inline-block;
	width: 150px;
	text-align: right;
	padding: 5px;
	font-weight: bold;
}

.container {
	border-bottom: 1px solid #898989;
	padding: 10px;
}

.error {
	color: red;
	padding-left: 5px;
	display:inline-block;
}
