/* Color Palette: 
#F2A71B (Yellow)
#F2A950 (Peach)
#F2CDA0 (Cream)
#D96704 (Burnt Orange)
#8C2703 (Sienna)
*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* ------------Responsive Image -------------- */
img{
    max-width: 100%;
}
/* ------------Utility Classes -------------- */

.container{
    margin: auto;
    padding: 40px;
}

body{
    background-color: #F2A71B;
    font-family: "Source Code Pro", monospace;
}

main{
    background-color: #ffffff;
    width: 80vw;
    max-width: 980px;

    margin-top: 40px;
    margin-right: auto; /* Auto on left and right to center the main block */
    margin-bottom: 40px;
    margin-left: auto;

    /*Shorthand -- Top&bottom -> left&right*/
    margin: 40px auto;
    /*Top -> Right -> Bottom -> Left*/
    margin: 40px auto 40px auto;

    border: 3px solid #8C2703;
    border-radius: 10px;

}

header.primary{
    background-color: #3F5A1F;
    padding: 20px;
    background-image: url("../img/bg_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

div.hgroup{
    width: 70%;
    text-align: left;
}

header.primary nav{
    width: 30%;
}

header.primary nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header.primary nav ul li a{
    color: #ffffff;
    background: rgba(0, 0, 0, .4);

    display: block;
    margin-bottom:10px;
    border: 1px solid #cc3a67;
    border-right: 10px solid #cc3a67;
    border-radius: 20px 0;
    padding: 10px 10px 10px 0;

    text-align:center;
    font-size: 0.9rem;
    text-decoration: none;
    text-shadow: 1px 1px #000;
    transition: 0.5s;
}


header.primary nav ul li a:hover{
    text-decoration: underline;
    background: rgba(217, 103, 4, 1);
}

div.hgroup h1 a{
    color: #ffffff;
    text-decoration: none;
    font-size: 2.5rem;
    text-shadow: 2px 2px #000;
}

div.hgroup h2{
    color: #fff;
    text-shadow: 2px 2px #000;
}

.hgroup h1, .hgroup h2{
    margin: 0;
}

#content{
    line-height: 1.4;

}

#content h2, #content h3, aside .container h2{
    color: #D96704;
    border-left: 7.5px solid #8C2703;
    border-radius: 15px 0;
    padding-left: 7.5px;
}

#blog{
    background-color: #F2CDA0;
    padding: 20px 0;
    border-top: 6px double #0a96a6;
    border-bottom: 6px double #0a96a6;
}

#blog > h2{
    color: #ffffff;
    text-shadow: 2px 2px #000;
    margin-left: 20px;
}

#blog .post{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "figure header"
    "figure post-content"
    "figure footer";

    margin: 20px;
    padding: 10px;

    background: #F2A950;
}

.post figure{
    grid-area: figure;
    margin: 0 20px 0 0;
}

.post header{
    grid-area: header;
}

.post .post-content{
    grid-area: post-content;
}

.post .post-meta{
    grid-area: footer;
}

aside .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

#colophon{
    background-image: url("../img/bg_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1px;
    text-align: center;
    color: #fff;
}