/* Color Palette: 
#F2A71B (Yellow)
#F2A950 (Peach)
#F2CDA0 (Cream)
#D96704 (Burnt Orange)
#8C2703 (Sienna)
*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* ------------Utility Classes -------------- */

.container{
    margin: auto;
    padding: 40px;
}

body{
    background-color: #F2A71B;
    font-family: "Source Code Pro", monospace;
}

main{
    background-color: #ffffff;
    width: 80vw;
    max-width: 980px;

    text-align: center;

    margin-top: 40px;
    margin-right: auto; /* Auto on left and right to center the main block */
    margin-bottom: 40px;
    margin-left: auto;

    /*Shorthand -- Top&bottom -> left&right*/
    margin: 40px auto;
    /*Top -> Right -> Bottom -> Left*/
    margin: 40px auto 40px auto;

    border: 2px solid #0ABFBF;
    border-radius: 10px;

}

header.primary{
    background-color: #3F5A1F;
    padding: 20px;
    background-image: url("../img/bg_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid #D96704;
    display: flex;
}

div.hgroup{
    width: 70%;
}



header.primary nav{
    width: 30%;
}

div.hgroup h1 a{
    color: #ffffff;
    text-decoration: none;
    font-size: 2.5rem;
    text-shadow: 2px 2px #000;
}

div.hgroup h2{
    color: #fff;
    text-shadow: 2px 2px #000;
}

.hgroup h1, .hgroup h2{
    margin: 0;
}