/* ------- Color Scheme --------
#0C4242 (Dark Teal)
#A2BC99 (Mint Green)
#3F1F20 (Brown)
#A9794A (Tan)
#8D3A1C (Sienna)
*/

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-color: #A2BC99;
}

header.primary{
    background-color: #8D3A1C;
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    border-radius: 10px;
}

header h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 52px;
    color: #1F0C0D;
}


nav ul{
    background-color: #A9794A;

    margin-bottom: 0;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

nav ul li{
    color: #3F1F20;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: #3F1F20;
}

main{
    margin: 40px auto;
    width: 80vw;
    max-width: 980px;
    background-color: #3F1F20;
    border-radius: 10px;
    text-align: center;
}

#content{
    color: #F2F0EF;
    padding: 40px;
}