/* Color Palette:
#637840 (Green)
#E57235 (Orange)
#99BB3D (Light Green)
#EbE6DC (Off-White)
*/

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* ------------Responsive Image -------------- */
img{
    max-width: 100%;
}
/* ------------Utility Classes -------------- */

.container{
    margin: auto;
    padding: 40px;
    max-width: 80%;
}



/* ------------Style Classes -------------- */

body{
    background-color: #637840;
    font-family: "Josefin Sans", monospace;
    margin: 0;
}

main{
    background-color: #EbE6DC;
    max-width: 100%;
    border-radius: 10px;
}

header{
    &.primary{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
        background-image: url("../img/theroot.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /* border-radius: 8px; */
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        gap: 100px;
    }
    .logo{
        width: 20vw;
        height: auto;
        align-self: center;
        justify-self: center;
    }
}


div.hgroup{
    width: 50%;
    margin-top: 20px;
    align-self: center;
    text-align: center;
    color: white;
    h1{
        margin-bottom: 0;
        text-shadow: 2px 4px  black;
        a{
            text-decoration: none;
            color: white;
            text-wrap: nowrap;
            font-size: 3.5rem;
        }
    }
    h2{
        font-size: 2rem;
        margin-top: 0;
        text-shadow: 3px 3px  black;
    }
}

.nav{
    width: 100%;
    order: -1;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    ul{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        list-style: none;
        padding: 0;
        padding-right: 30px;
        li a{
            text-decoration: none;
            color: white;
            display: inline-block;
            position: relative;
            padding: 0.8em;
            &:hover{
                color: rgba(229, 114, 53, 1);
            }
        }
    }
}

#navbar.past-header{
    li{
       a{
            color: rgba(229, 114, 53, 1);
            &:hover{
                color: #fff;
            }
        }
    }
    
}

#content{
    padding-bottom: none;
    h2{display: none}
    h3{
        font-size: 2rem;
        text-align: center;
        color: #637840;
    }
    p{
        text-align: center;
        font-size: 1.5rem;
    }
}

#recipes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    padding: 20px;
    h2 {
        text-align: center;
        font-size: 1.8rem;
        padding-top: 20px;
        a{
            text-decoration: none;
            color: #637840;
            &:hover{
                color: #99BB3D;
            }
        }
        
    }
    figure{
        img{
            width: 200px;
            height: 200px;
            border-radius: 20px;
            object-fit: cover;
        }
        figcaption{
            text-align: center;
            display: none;
        }
    }
    footer{
        a{
            color: #637840;
            text-decoration: none;
            &:hover{
                color: #99BB3D;
            }
        }
    }
    .recipe-card{
        /* background-color: #ccc6b9;
        padding: 20px;
        border-radius: 20px; */

        background: white;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        text-align: center;
        &:hover{
            transform: translateY(-5px);
            box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
        }
        p{
            margin: 10px;
        }
    }
}

aside{
    .container{
        max-width: 100%;
        background-color: rgba(229, 114, 53, 0.9);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 20px 200px 20px 200px;
    }
    article{
        h2{
            text-transform:uppercase;
        }
        ul{
            list-style: none;
            padding: 1px;
            margin: 1px;
            font-size: 0.8rem;
            li{
                margin-top: 4px;
                a{
                    color: #637840;
                    &:hover{
                        color: #99BB3D;
                    }
                }
            }
            &#contact{
                li{
                    display: flex;
                    a{
                        &.fa{
                            margin-left: 6px;
                            text-decoration: none;
                            font-size: 18px;
                            text-align: center;
                        }
                        &:hover{
                            color: #99BB3D;
                        }
                    }
                }
            }
            h4{
                margin: 6px 0px 2px 0px;
                padding: 0;
            }
        }
    }
}

#colophon{
    background-color: rgba(229, 114, 53, 0.9);
    padding: 1px 0 1px 20px;
    text-align: center;
    font-size: 0.7rem;
    a{
        color: #000;
    }
    
}