/* Color Palette:
#637840 (Green)
#E57235 (Orange)
#99BB3D (Light Green)
#EbE6DC (Off-White)
*/

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* ------------Responsive Image -------------- */
img{
    max-width: 100%;
}
/* ------------Utility Classes -------------- */

.container{
    margin: auto;
    padding: 40px;
    max-width: 70%;
}



/* ------------Style Classes -------------- */

body{
    background-color: #637840;
    font-family: "Josefin Sans", monospace;
    margin: 0;
}

main{
    background-color: #EbE6DC;
    max-width: 100%;
    border-radius: 10px;
}

header{
    &.primary{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
        background-image: url("../img/theroot.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /* border-radius: 8px; */
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        gap: 100px;
    }
    .logo{
        width: 20vw;
        height: auto;
        align-self: center;
        justify-self: center;
    }
}


div.hgroup{
    width: 50%;
    margin-top: 20px;
    align-self: center;
    text-align: center;
    color: white;
    h1{
        margin-bottom: 0;
        text-shadow: 2px 4px  black;
        a{
            text-decoration: none;
            color: white;
            text-wrap: nowrap;
            font-size: 3.5rem;
        }
    }
    h2{
        font-size: 2rem;
        margin-top: 0;
        text-shadow: 3px 3px  black;
    }
}

.nav{
    width: 100%;
    order: -1;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    ul{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        list-style: none;
        padding: 0;
        padding-right: 30px;
        li a{
            text-decoration: none;
            color: white;
            display: inline-block;
            position: relative;
            padding: 0.8em;
            &:hover{
                color: rgba(229, 114, 53, 1);
            }
        }
    }
}

#navbar.past-header a{
    color: rgba(229, 114, 53, 1);
    /* background-color: rgba(153, 187, 61, 0.5); */
    &:hover{
        color: #000;
    }
}

#content{
    h2{display: none}
    h3{
        font-size: 2rem;
        text-align: center;
        color: #637840;
    }
    p{
        text-align: center;
        font-size: 1.5rem;
    }
}

#articles{
    display: grid;
    gap: 50px;
    grid-template-areas:
                "post post post";
    h2 {
        text-align: center;
        font-size: 1.8rem;
        padding-top: 20px;
        a{
            text-decoration: none;
            color: #637840;
            &:hover{
                color: #99BB3D;
            }
        }
        
    }
    figure{
        img{
            width: 20vw;
            height: auto;
        }
        figcaption{
            text-align: center;
        }
    }
    footer{
        a{
            color: #637840;
            text-decoration: none;
            &:hover{
                color: #99BB3D;
            }
        }
    }
}

aside{
    .container{
        max-width: 100%;
        background-color: rgba(229, 114, 53, 0.9);
        display: grid;
        grid-template-areas: 
                "article article";
    }
    p{
        font-size: 1.4rem;
        text-wrap: wrap balance;
        a{
            color: #637840;
            text-decoration: none;
            &:hover{
                color: #99BB3D;
            }
        }
    }
}

#colophon{
    background-color: #637840;
    padding: 1px 0 0 20px;
}